<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/efe3f6fdbc.js" crossorigin="anonymous"></script>
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>
  <body>
    <header id="header">
      <div class="container d-flex align-items-center">
        <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#why-us">About</a></li>
            <li><a class="nav-link scrollto" href="#categories">Categories</a></li>
            <li><a class="nav-link scrollto" href="#portfolio">Leaderboard</a></li>
            <li><a class="nav-link scrollto" href="#team">Portofolio</a></li>
              <li><a class="nav-link scrollto" href="#team">Testimonial</a></li>
              <li><a class="getstarted scrollto" href="#">Join US</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header>
    <main id="main">
      <section class="mt-5 mb-0">
        <div class="container">
          <a href="index.html" style="color: #48AA33">  <h1>< Leaderboard Mentoring Program</h1></a>
        </div>
      </section>
      <section class="mt-2">
        <div class="container">
          <div class="card">
            <div class="row">
              <div class="col-md-8">

              </div>
              <div class="col-md-2 mt-2" style="margin-left: 950px;">
                <select style="float: right !important;" class="btn btn" name="">
                  <option value="">Batch</option>
                </select>
                <div class="" style="margin-left: 320px;">
                  <select style="float: right !important;" class="btn btn" name="">
                    <option value="">Sort By</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="row mt-2">
              <div style="margin-left: 20px;" class="col-md-2">
                  Program :
                  <select width="30px;" class="btn btn" name="">
                    <option value="">Flutter</option>
                  </select>
              </div>
              <div style="margin-left: 837px;" class="col-md-2 mt-1 float-right">
              <form class="form-inline">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                  </div>
                  <input type="text" class="form-control" style="height: 30px;" placeholder="Search....">
                </div>
              </form>

              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>Nama Peserta</th>
                    <th style="width: 450px;">Sekolah</th>
                    <th>Program</th>
                    <th>Angkatan</th>
                    <th>Skor</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>1</td>
                    <td>Sesaka aji Nursyah Bantani</td>
                    <td>Universitas Singaperbangsa Karawang</td>
                    <td>Flutter</td>
                    <td>Batch 2</td>
                    <td><b>2441</b></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Rizki Adi Saputra</td>
                    <td>Universitas Dian Nuswantoro</td>
                    <td>Flutter</td>
                    <td>Batch 2</td>
                    <td><b>2388</b></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Siti Sa'adiyah</td>
                    <td>Politeknik Negeri padang	</td>
                    <td>Flutter</td>
                    <td>Batch 1</td>
                    <td><b>2307</b></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Tommy Rachmadiono W.S	</td>
                    <td>Danaprospera (1 pemilik dengan Mahanusa Graha Persada)</td>
                    <td>Flutter</td>
                    <td>Batch 2</td>
                    <td><b>2299</b></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Dora Grestya</td>
                    <td>Politeknik Negeri padang</td>
                    <td>Flutter</td>
                    <td>Batch 1</td>
                    <td><b>2283</b></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Rifan Hidayat	</td>
                    <td>Universitas Komputer Indonesia</td>
                    <td>Flutter</td>
                    <td>Batch 2</td>
                    <td><b>2080</b></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Fauzy Wahyudi</td>
                    <td>Universitas Putra Indonesia YPTK Padang</td>
                    <td>Flutter</td>
                    <td>Batch 2</td>
                    <td><b>1910</b></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Vicco Dwi Pramadian</td>
                    <td>Universitas Islam Kalimantan	</td>
                    <td>Flutter</td>
                    <td>Batch 2</td>
                    <td><b>1776</b></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Natanael Krisetya	</td>
                    <td>Djarum</td>
                    <td>Flutter</td>
                    <td>Batch 2</td>
                    <td><b>1739</b></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Gustaf Yulianto	</td>
                    <td>Pegawai Swasta</td>
                    <td>Flutter</td>
                    <td>Batch 1</td>
                    <td><b>1602</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer " >
              <span>Showing 1 to 10 of 216 entries</span>
              <div class="float-right"  >
                <ul class="pagination pagination-sm m-0" >
                  <li class="page-item"><a style="color: #8F8F8F;" class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a style="background-color: #48AA33; color: #fff;" class="page-link" href="#">1</a></li>
                  <li class="page-item"><a style="color: #000;" class="page-link" href="#">2</a></li>
                  <li class="page-item"><a style="color: #000;" class="page-link" href="#">3</a></li>
                  <li class="page-item"><a style="color: #000;" class="page-link" href="#">4</a></li>
                  <li class="page-item"><a style="color: #000;" class="page-link" href="#">5</a></li>
                  <li class="page-item"><a style="color: #000;" class="page-link" href="#">...</a></li>
                  <li class="page-item"><a style="color: #000;" class="page-link" href="#">22</a></li>
                  <li class="page-item"><a style="color: #000;" class="page-link" href="#">Next</a></li>
                </ul>
              </div>

              </div>
          </div>
        </div>
      </section>
    </main>
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-2 col-md-6 footer-contact">
              <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">

              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">Blog</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">Careers</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">Media Center</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">

              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">Help Center</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">Contact Us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">Driver Help Center</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">Term & Conditions</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #fff;">Privacy Policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Download</h4>
            <div class="row">
              <div class="col-md-6 mr-0">
              <button type="button" class="btn btn-secondary" name="button"><i class="fab fa-app-store"></i> App Store</button>
              </div>
              <div class="col-md-6 ml-0">
                <button type="button" class="btn btn-secondary" name="button"><i class="fab fa-google-play"></i> Play Store</button>
              </div>
            </div>
              <div class="social-links mt-3">
                  <h4>Follow Us</h4>
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <hr style="color: #fff">
      <div class="container footer-bottom clearfix">

        <div class="copyright">
         Copyright &copy; 2018 - 2022 Udacoding
        </div>
      </div>
    </footer>

  </body>
</html>
